* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: #ddd;
}

body {
  background: #ddd;
  font-size: 12px;
}

.canvas-wrap {
  padding-top: 50px;
  padding-left: 80px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.canvas-scroll {
  position: relative;
  float: left;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  background: #999;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.canvas-buts {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
}

.canvas-button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 15px;
  background: #666;
  color: #fff;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.answer-list {
  //position: absolute;
  //left: 650px;
  //top: 360px;
  float: left;
  height: 580px;
  background: #fff;
  line-height: 30px;
  list-style: none;
  padding: 10px 20px;
  font-size: 14px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  li {
    padding: 6px 0;
    border-bottom: 1px dashed #ccc;
    text-align: right;
    span {
      float: left;
      padding: 0 10px;
    }
    input {
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      &.active {
        color: #c00;
      }
    }
  }
}
