* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: #ddd;
}

body {
  background: #ddd;
  font-size: 12px;
}

.canvas-wrap {
  min-width: 1300px;
  padding-top: 50px;
  padding-left: 80px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.canvas-scroll {
  position: relative;
  float: left;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  background: #999;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.canvas-buts {
  display: none;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
}

.canvas-button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 15px;
  background: #666;
  color: #fff;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.answer-list {
  //position: absolute;
  //left: 650px;
  //top: 360px;
  float: left;
  height: 588px;
  background: #fff;
  line-height: 28px;
  list-style: none;
  padding: 6px 20px;
  font-size: 14px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  li {
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px dashed #ddd;
    border-radius: 30px;
    text-align: right;
    &.title {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      background: none;
      border-color: #fff;
    }
    span {
      float: left;
      display: block;
      width: 40px;
      padding-left: 20px;
      text-align: center;
    }
    input {
      width: 120px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      outline: none;
    }
    &.active {
      border-color: #c00;
      color: #c00;
      input {
        color: #c00;
      }
    }
  }
}
